@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.chat-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f9fafb;
  scroll-behavior: smooth;
}

.chat-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.chat-scrollbar::-webkit-scrollbar-track {
  background: #f9fafb;
  border-radius: 9999px;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
  border: 2px solid #f9fafb;
}

.chat-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}
